/* *{
    margin: 0;
    padding: 0;
} */
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    height:100vh;
}
.left img{
    height: 50vh;
}
.left h2{
    margin: 0px;
}
.left p{
    margin: 0;
}