.main{
    background-color: white;
    padding: 0.1rem 1rem 0rem 1rem;
    border-radius: 1rem;
    font-style: unset;
    font-family: 'Poppins', sans-serif;
    margin-right: 0.4rem;
    font-size: 12px;
    margin-bottom: 1rem;
    min-width: 11rem;
}
.task_header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;

    align-items: center;
}
.task_header h4{
    font-weight: 800;
    padding-bottom: 0rem;
    padding-top: 0rem;
    cursor: pointer;
}
.task_header h6{
}
.options_box{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: white;
    margin: 7.8rem 1rem 0rem 7rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    width: 5rem;
    box-shadow: 0px 0px 2px #707070;
    font-style: unset;
    font-family: 'Poppins', sans-serif;
    margin-right: 0.4rem;
    font-weight: 500;
    cursor: pointer;
}
.options_box .delete{
    color: red;
    cursor: pointer;
}
.options_box p{
    margin: 4px;
    cursor: pointer;
}
.checklist_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checklist_header button{
    color: #707070;
    border: none;
    font-weight: 700;
    height: 1.5rem;
    width: 2rem;
    text-align: center;
    border-radius: 3px;
    font-size: large;
    padding-top:5px;
    cursor: pointer;
}
.checklist_items {
  /* Your existing styles */
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.task_header_picon{
    padding-top: 1rem;
    /* margin-right: 0.3rem; */
    width: 3px;
    margin-left: -1.2rem;

}
.task_header img{
    padding:0;
    margin-right: 0.9;
}
.task_header h6{
    padding-bottom: 0.2rem;
}
.checklist_items.show {
  /* A large value that the content won't exceed */
  max-height: 100rem;
  opacity: 1;
}
.item{
    display: flex;
    border: 1px solid #E2E2E2;
    margin: 10px 0px 10px 0px;
    border-radius: 8px;
    padding: 10px;

}
.item label{
  margin-left: 8px;
    margin-bottom: 2px;
}

.item input[type="checkbox"] {
    border-radius: 8rem;
    border-radius: 1rem;
    color: #E2E2E2;
    border-color: #E2E2E2;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;

}
.footer_progress{
    display: flex;
    margin-top: 8px;
    align-items: center;justify-content: center;
}
.footer_progress p{
    background-color: #E2E2E2;
    padding: 4px 5px 0px 4px;
    width: 2rem;
    height: 1rem;
    font-size: 7px;
    border-radius: 0.4rem;
    margin: 5px;
    text-align: center;
    cursor: pointer;

}
.footer_date{
    background-color: #EEECEC;
    padding: 5px 3px 4px 3px;
    width: 6rem;
    font-size: 8px;
    border-radius: 0.4rem;
    margin: 13px 35px 5px 5px;
    text-align: center;
    color:  #767575;
    height: 0.8rem;
}
.invisible{
    visibility: hidden
}
.alert{
    background-color: #CF3636;
    color: white;
}
.overdue{
  background-color: #DBDBDB;
  color: #5A5A5A
}
.completed{
  background-color:#63C05B;
  color: white;
}

  .modal_button_yes{

      width: 40%;
      /* height: 28px; */
      padding: 8px;
      font-size: 20px;
      background: #17A2B8;
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.01);
      border-radius: 10px;
      color: white;
      border: none;
      font-weight: 500;
      margin-bottom: 1px;
      margin-top: 1rem;
      width: inherit;
      cursor: pointer;
  }

  .modal_button_no{

    width: 40%;
    /* height: 28px; */
    padding: 8px;
    font-size: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 0px 4px rgba(167, 3, 3, 0.01);
    border-radius: 10px;
    color: rgb(255, 0, 0);
    border: 1px solid red;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 1rem;
    width: inherit;
    cursor: pointer;
} 
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: white;
  padding: 50px;
  border-radius: 10px;
  width: 30vw;
}

.blur {
  filter: blur(5px);
}

.modal h3{
  font-style: unset;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-bottom: 4px;
}
.modal .title{
  width:100%;
  padding: 8px;
  border: 2px solid#4D40551A;
  border-radius: 0.4rem;
}

.modal .priority_box{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0px 1rem 0px;
}
.modal .priority_box h3{
 margin-right: -14px;
} 
.modal .priority_box .priority button{
  margin-left: 0.7rem;
  padding: 2px 8px 2px 8px;
  /* background-color: white; */
  border-radius: 4px;
  border-color: #4D40551A;
  color: #767575;
  font-size: small;
  cursor: pointer;
}
.checklist_box{
  height: 15rem;
  overflow-y: auto;
  /* max-height: 20vh; */
}
.checklist_button{
  background-color: white;
  border-radius: 4px;
  border-color: white;
  color:  #767575;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: white;
  cursor: pointer;
}

.checklist_input{
  width:75%;
  padding: 8px;
  border: 2px solid white;
  border-radius: 0.2rem;
  margin: 3px;
  outline: none;

}
.checklist_input:focus {
  border: 2px solid white; /* Change this to the color you want */
}
.checklist_cross_button{
  padding: 8px;
  border: 2px solid white;
  border-radius: 0.2rem;
  background-color: white;
  cursor: pointer;
}
.checklist_field_box{
  border: 1px solid #4D40551A;
  padding: 0rem 0rem 0rem 12px;
  margin-bottom:8px;
  border-radius: 0.5rem;
}
.modal .footer{
  display: flex;
  justify-content: space-between;
}

.dueDate_button{
  background-color: white;
  border-radius: 10px;
  border:2px solid #E2E2E2;
  color:  #767575;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}
.cancel_button{
  background-color: white;
  border-radius: 10px;
  border:2px solid rgb(250, 66, 66);
  color:  rgb(250, 66, 66);
  padding: 0.5rem 0rem 0.5rem 2.5rem;
  box-shadow: white;
  margin-right: 10px;
  cursor: pointer;
  width: 5rem;
}
.save_button{
  background-color:  #17A2B8;
  border-radius: 10px;
  color:  rgb(255, 255, 255);
  padding: 0.5rem 0rem 0.5rem 2.5rem;
  box-shadow: white;
  cursor: pointer;
  width: 5rem;
}
.cancel_save{
  display: flex;
}
.footer input{
  padding: 0.5rem 1rem 0.7rem 1rem;
  border-radius: 10px;
  border:2px solid #E2E2E2;
  color:  #767575;
}
.selected {
  background-color: #EEECEC;
}
.unselected {
  background-color:white
}




.checklist_box {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 220px); /* Adjust height as needed */
}

/* Style for the scrollbar */
.checklist_box::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Style for the scrollbar track */
.checklist_box::-webkit-scrollbar-track {
  background: #aac6db; /* Color of the scrollbar track */

}

/* Style for the scrollbar handle */
.checklist_box::-webkit-scrollbar-thumb {
  background: #8DAAB9CC; /* Color of the scrollbar handle */
  border-radius: 15px; /* Rounded corners */
}

/* Style for the scrollbar handle on hover */
.checklist_box::-webkit-scrollbar-thumb:hover {
  background: #2373b0; /* Color of the scrollbar handle on hover */
}

  .copied{
    position: absolute;
    border: 1px solid #48C1B5;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 10px;
    background-color: #F6FFF9;
    font-style: unset;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-bottom: 4px;
    font-weight: 500;
    display: flex;
    top:1rem;
    right: 1rem;
    box-shadow: 0px 4px 16px 0px #100B2714;
  }






  .hiddenCheckbox {
    display: none;
  }
  
  .checkboxContainer {
    display: inline-block;
    position: relative;
    padding-left: 25px ;
    /* padding-right: 2rem; */
    cursor: pointer;
    user-select: none;
  }
  
  .customCheckbox {
    position: absolute;
    top: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 5px;

    border: 1px solid rgb(23, 162, 184);
  }
  
  .checkboxContainer input:checked ~ .customCheckbox {
    background-color: rgb(23, 162, 184);
    border-radius: 5px;
  }
  
  .customCheckbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkboxContainer input:checked ~ .customCheckbox:after {
    display: block;
  }
  
  .checkboxContainer .customCheckbox:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it covers everything */
  }